@import url(./index.css);
@import url(./personajes.css);
@import url(./termporadas.css);
@import url(./contactos.css);
@import url(./pokedex1.css);
@import url(./galeria.css);

@font-face {
font-family: "pokemonHollow";
src: url(../fuente/pokmon/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family:"pokemonSolid" ;
    src: url(../fuente/pokmon/Pokemon\ Solid.ttf);
}
*{  box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0
    ;
}

body{
   background-color: black;
}

header{
    background-color: rgba(255, 0, 0, 0.600);
    position: sticky;
    top: 0;
}

nav{
    display: inline-flex;
    
}

.menu{
    color: black;
    list-style: none;
    letter-spacing: 1px;
}
.menu li{
    font-family: "pokemonSolid";
    list-style-type: none;
    display: inline-flex; 
    margin-left: 20px; 
    transition: 500ms ease;
    text-transform: uppercase;
    cursor: pointer;
    
}
.menu li a:hover{
    filter: blur(0);
    transform: scale(1.10);
    background: linear-gradient(
        90deg,
        #fef900,
        #ff5e00
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo{
    width: 200px;
    height: 100px;
    
}
.aca{
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
   
}
.menu a{
    position: relative;
    color: black;
    text-decoration: none;
    
}

h1{ color: red;
    font-family: "pokemonHollow";
    font-size: 4rem;
    text-decoration: underline;
    display: grid;
    place-items: center;
}

footer{
    margin-top: 2rem;
    border-top: solid red;
    display: flex;
    
    background-color: rgba(255, 0, 0, 0.800);
    
}
footer li{
    margin-top: 10px;
    margin-left: 10px;
    list-style-type: none ;
}
footer ul li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
footer ul li a:hover{
    color: #fef900;
}
footer .redesSoc{
    margin-left: 720px;
    display: flex;
    align-items: center;

}
.fa{
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2b2b2b;
    box-shadow: 0 0 30px 10px;
    transition: .5s;
}
.icono1:hover{color: #0051ff}
.icono2:hover{color: #16fd01}
.icono3:hover{color: #db0cc3}
.icono4:hover{color: #ff0808}
.icono5:hover{color: #f9f9f9}
footer img{
    width: 50px;
    
}
.lista{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 1100px){
    footer{
        margin-top: 1rem;
    }
    footer ul li a{
        font-size: 20px;
    }
    footer .redesSoc{
        margin-left: 300px;
    }
    .fa{
        margin: 2px;
        padding: 5px;
        border-radius: 50%;
    }

    footer img{
        width: 40px;
    }
   
   }
   
@media only screen and (max-width: 500px){
    h1{ font-size: 2rem;
        text-decoration: none;
    }
    footer ul li a{
        font-size:15px;
    }
    footer .redesSoc{
        margin-left: 150px;
        flex-direction: column;
          
    }
    footer .redesSoc img{
        width: 25px ;
    }
    .fa{
        margin: 5px;
        padding: 5px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 0 0 30px 0px;
        transition: .5s;
    }
    
  
    .lista{
        list-style-type: none;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 10px;
    }
       
}
