@media only screen and (max-width: 1100px){
    .tarjetasPX{  
        width: 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
     }
     .Bulbasaur1{
         margin-top: 1rem;
         padding: 1rem;
         height: 250px;
         width: 250px;
     }
     .Bulbasaur1 img{
         width: 100px;
         height: 100px;
     }
     .Bulbasaur1 div{
         padding-top: 0;
         padding-left: 1rem;
         width: 350px;
         
     }
     .Bulbasaur1 div .nombre{
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-style: italic;
         font-weight: bold;
         text-decoration-line: underline;
         
     }
     .Bulbasaur1 p{
         font-family: Arial, Helvetica, sans-serif;
         line-height: .5px;
         font-size: 10px;
     }
     .Bulbasaur1 li{
         font-family: Arial, Helvetica, sans-serif;
         line-height: 8px;
         font-size: 10px;
     }
     .Bulbasaur1 h2{
         font-size: 15px;
         margin-bottom: 5px;
     }
 
}
